body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    color:rgb(185, 177, 177);
    background:rgb(185, 177, 177);
}
.theBoard{
    margin-top: 100px;;
    display: flex;  
    justify-content: center;
    align-items: center;
    background: rgb(166, 231, 186);
    flex-direction: column;
    border-radius: 40px;
    height: 800px;;
    width: 800px;
}
.playerSection{
    background: rgb(167, 111, 111);
    font-size: 50px; 
}
.players{
    font-size: 50px;
    text-decoration: underline;
    color: rgb(238, 233, 227);
    
}
.theGrid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    background:rgb(185, 177, 177);
}
.cell {
    height: 200px;
    width: 200px;;
    background-color: rgb(166, 231, 186);
    display: flex;
    justify-content: center;
    align-items: center;
}
.cell:hover{
    cursor: pointer;
}
.x:hover{
    cursor: not-allowed;
}
.o:hover{
    cursor: not-allowed;
}
.status-reset{
    text-align: center;
}
.title{
    font-size: 40px;;
}

.x::before{
    content: "X";
    font-size: 200px;
}
.o::before{
    content:"O";
    font-size:200px;
}
.gameResult{
    display: none;
    position:fixed;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    background-color: rgba(0,0,0, .9);
    justify-content: center;
    align-items: center;
    font-size: 5em;
    color:antiquewhite;
    flex-direction: column;
}
.reset:hover{
    cursor: pointer;
    color: rgb(133, 124, 113);
    background-color:rgb(248, 248, 158);
    
}

.gameResult.show{
    display: flex;
} 